*.json
*.tar.gz
*.zip
28_Transformet_BERT/Data/IMDB Dataset.csv
28_Transformet_BERT/Kinopoisk_eval_*%.csv
28_Transformet_BERT/Kinopoisk_train_*%.csv
28_Transformet_BERT/logdir/*
28_Transformet_BERT/model_*%.pt
